<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ArtVenture</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/project.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="/assets/styles/basicpagestyle.css"/>
</head>


<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col l4 s4 m4"></div>
            <div class="col l4 s4 m4 center">
                <img class=" z-depth-5 responsive-img" style="margin:20px" src="/assets/images/artventure_logo.jpeg">
            </div>
            <div class="col l4 s4 m4"></div>
        </div>
    </div>

    

    <div class="container main-page">
        <div class="row" >
            <div class="col s12 m5 l5  inline-photo show-on-scroll ">
                <div class="card medium z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/artist.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Wanna get hired?</span>
                    </div>
                    <div class="card-action">
                        <a href="/employee"><button class="btn-floating btn-large waves-effect waves-light"><i
                            class="fas fa-arrow-right"></i></button></a>
                        
                    </div>
            
                    
                </div>
            </div>
            <div class="col s12 m5 l5 push-m2 push-l2  inline-photo show-on-scroll ">
                <div class="card medium z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/jobgiver.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">An Artist Required?</span>

                    </div>
                    <div class="card-action">
                        <a href="/employer"><button class="btn-floating btn-large waves-effect waves-light"><i
                            class="fas fa-arrow-right"></i></button></a>
                        
                    </div>
            
                </div>
            </div>
        </div>   
    </div>


    <script type="text/javascript" src="/assets/script/cardAnimate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>